HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Dataset ###
dataset/*

### venv ###
**/venv

### direnv ###
.envrc
**/workflows/experiments/**


### Frontend ###
quads-vizualizer/node_modules
quads-vizualizer/dist
quads-vizualizer/dist-ssr
quads-vizualizer/*.local
quads-vizualizer/logs
quads-vizualizer/*.log
quads-vizualizer/npm-debug.log*
quads-vizualizer/yarn-debug.log*
quads-vizualizer/yarn-error.log*
quads-vizualizer/pnpm-debug.log*
quads-vizualizer/lerna-debug.log*
